<header>
    <div class="header-section">
        <h1>Christopher Giordano</h1>
        <h2>Title</h2>
        <p>--basic information about me--</p>
    </div>
    <div class="nav-bar">
        <h3>ABOUT</h3>
        <h3>EXPERIENCE</h3>
        <h3>PROJECTS</h3>
    </div>
</header>
<main>
    <div class="about-section">
        <h2>ABOUT</h2>
        <p>--short bio about myself--</p>
    </div>
    <div class="experience-section">
        <h2>EXPERIENCE</h2>
        <div>
            <p>--past experience--</p>
        </div>

    </div>
    <div class="projects-section">
        <h2>PROJECTS</h2>
        <div class="projects">
            <h3>--project 1 title--</h3>
            <p>--product description--</p>
            <a>--link to project</a>
        </div>
        <div class="projects">
            <h3>--project 2 title--</h3>
            <p>--product description--</p>
            <a>--link to project</a>
        </div>
        <div class="projects">
            <h3>--project 3 title--</h3>
            <p>--product description--</p>
            <a>--link to project</a>
        </div>
    </div>
</main>
<footer>
    <div>
        <p>--devolper information</p>
    </div>
</footer>